<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Customer</h1>
<div id="form">
    <form th:action="@{/customer/update}" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td>Name</td>
                <td><input th:field="${customer.name}" type="text"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input th:field="${customer.email}" type="text"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input th:field="${customer.address}" type="text"></td>
            </tr>
            <tr>
                <td><input value="Edit" type="submit"></td>
            </tr>
        </table>
    </form>
</div>

</body>
<footer th:replace="/layout :: footer"></footer>
</html>